main {
    position: absolute;
    left: 0;
    right: 0;
    top: 55px;
    bottom: 0;
}


/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px white inset !important;
}
hr {
    border-top: 1px solid rgba(0,0,0,.3);
}

.placeholder-color::placeholder {
    color: 1px solid rgb(0, 0, 0);
}

label {
    font-weight: bold;
}

button:focus {
    outline: none;
}

.navbar-brand:focus,
.navbar-brand:active {
    outline: none;
    box-shadow: none;
}


.height-width-0 {
    height: 0;
    width: 0;
}


.modal-content-post-setting {
    border-radius: 15px;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-200px, 245px );
}

.modal-content-delete {
    border-radius: 15px;
    width: 400px;
    left: 50%;
    transform: translateX(-200px);

}

.margin-015rem {
    margin-left: .15rem;
    margin-right: .15rem;
}

.font-size-05 {
    font-size: .4rem;
}

.btn:focus {
    box-shadow: none !important;
}

p {
    margin-bottom: .5rem;
}

.border-navbar {
    border-bottom: 1px solid rgba(100, 100, 100, .5);
}

.dropdown-item {
    color: inherit !important;
    background-color: white  !important;
}

.fa-15 {
    font-size: 1.5em;
}

.fontawesome-border {
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}


.color-black {
    color: black !important;
}

.borderradius-input-field {
    border-radius: 3px;
}

body {
    margin-top: 60px;
}

nav  .img-profpic {
    position: absolute;
    top: 50% + 10.2px;
    /* right: 0; */
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
}



.image-container {
    
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative; /* If you want text inside of it */
    
}

.border-comments {
    border-bottom: 1px solid rgb(226, 214, 214);
}

.border-add-comment {
    border-bottom: 1px solid rgb(211, 207, 207);
    /* border: 2px solid #000 */

}

.post-pp {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.p-075 {
    padding-top: .75rem;
    padding-bottom: .75rem
}


.time-ago {
    text-transform: uppercase;
    color: rgba(var(--f52,142,142,142),1);
    font-size: 10px;
}

.font-size-username {
    font-size: .9rem;
}

.comment-post {
    color: rgba(var(--f52,142,142,142),1);
    font-size: .9rem;
}
.comment-post:hover {
    color: rgba(var(--f52,142,142,142),1);
}

.overflow-comments {
    overflow-y: auto;
    height: 100%;
}

.border-0 {
    outline: none;
}

.border-0:focus {
    outline: none;
}

.table-form {
    display: inline-table;
}

.submit-comment {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 1rem ;
}

#id-for-inline-p article form p {
    display: inline;
}

.submit {
    position: absolute;
    bottom: -40px;
    right: 0px;
}

.recommendations-fixed {
    position: fixed;
    right: 0;
    top: 60px;
}


.img-user-detail {
    position: relative;
    width: 100%; /* The size you want */
  }
.img-user-detail:after {
    content: "";
    display: block;
    padding-bottom: 100%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
}
  
.img-user-detail img {
    position: absolute; /* Take your picture out of the flow */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; /* Make the picture taking the size of it's parent */
    width: 100%; /* This if for the object-fit */
    height: 100%; /* This if for the object-fit */
    object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
    object-position: center;
}
.border-50 {
    border-radius: 50%;
}

.hover {
    background-color: black;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    cursor: pointer !important;

}
.hover:hover {
    background-color: rgba(0, 0, 0, .5);
    color: rgba(255, 255, 255, 1);
}

.center-comment-symbol {
    position: absolute;
    left: 65%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.center-heart-symbol {
    position: absolute;
    left: 35%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.more-posts-of {
    font-size: 14px;
}
.h-65 {
    height: 65%;
}

#img-profilpage {
    /* position: absolute; */
    /* top: 50% + 10.2px; */
    /* right: 0; */
    height: 77px;
    width: 77px;
    border-radius: 50%;
}

.opacity-07-active:active {
    opacity: .7;
}

.copy-link-slider {
    /* margin-bottom: -50px; */
    height:41px;
    margin-bottom: -50px;
    transition: all .5s;
    color: rgba(255, 255, 255, 0.925)
}


.change-color-link-navbar:hover {
    background-color: rgba(255, 251, 251, 0.774) !important;
}

#like-create-comment {
    position: absolute;
    left: 0;
}

#save-create-comment {
    position: absolute;
    right:0;
}

.border-update-user-input {
    border: 1px solid rgb(207, 199, 199);
}

.height-textarea-update-user {
    height: 60px;
}

.height-textarea-update-user::placeholder {
    color: rgb(190, 190, 190);
}

.height-input-update-user {
    height: 32px;
}

.height-input-update-user::placeholder {
    color: rgb(190, 190, 190);
}

.border-search-field {
    border: 1px solid #DDD !important;
}
.border-search-field:focus {
    outline: 1px solid #DDD !important;
}

.username-search {
    font-size: 14px;
}
.search-article {
    position: absolute;
    top: 8px;
    line-height: 95%;
    left: 50px;
}

.background-color-background {
    background-color: #fafafa
}

.section-search-page:hover {
    background-color:rgb(248, 248, 248);
}

@media (min-width: 768px) {
    #img-profilpage {
        height: 150px;
        width: 150px;
        border-radius: 50%;
    } 
    .border-onlyon-md {
        border: 1px solid #dee2e6;
    }

    .border-post {
        border-radius: 3px;
        border: 1px solid rgba(193, 193, 193, 1);
    }
    .mb-for-user-detail {
        margin-bottom: 30px;
    }
    .comment-input {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0 1rem ;
        height: 21px;
        width: 75%;
    }
}

/* .w-33 {
    width: 25%;
} */

.modal-content-subs {
    border-radius: 12px;
    max-width: 400px;
    height: 400px;
    background-color: #fafafa;
    overflow: hidden;
}

.modal-body-subs {
    overflow-y: scroll;
}

.black-border-top {
    border-bottom: 1px solid #000;
}

.font-size-1point25em {
    font-size: 1.25em;
}

.font-size-closebutton-modal {
    font-size: 3rem;
}

.padding-close-button-modal {
    padding: 5px 16px !important;
}

.following-middle {
    position: absolute;
    left: 40%;
}

.following-right {
    position: absolute;
    right: 15px;
}

.cursor-pointer {
    cursor: pointer;
}

.w-h-32 {
    width: 32px;
    height: 32px;
}
.errorlist {
    position: absolute;
    bottom: 30px;
    right: 20px;
    list-style-type: none;
}

.line-height-comments {
    line-height: 1.2rem;
}

.border-radius-6px {
    border-radius: 6px;
}

.border-top-gray {
    border-top:1px solid rgb(168, 168, 168);
}
.border-bottom-gray {
    border-bottom:1px solid rgb(168, 168, 168);
}

.border-saved-or-posts {
    border-top:1px solid #000 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-bottom: 0 !important;
}

.bg-color-page {
    background-color: #fafafa;
}

.tagged-people {
    height: 1.7rem;
    width: 1.7rem;
    position: absolute;
    bottom: .5rem;
    left: .5rem;
    background-color: #000;
    border-radius: 50%;
}

.tagged-people-icon {
    transform: translateX(calc(50% + 2px));
}

.comment-options {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    .background-color-background {
        background-color: #fff
    }
    #like-create-comment {
        position: relative;
        left: auto;

    }

    .modal-content-post-setting {
        top: 50%;
        width: 260px;
        transform: translate(-130px, 260px);
    }
    .modal-content-delete {
        border-radius: 15px;
        width: 260px;
        left: 50%;
        transform: translateX(-130px);
    
    }
    .p-15px {
        padding-right: 1.5px;
        padding-left: 1.5px ;
        /* margin-bottom: 3px; */
        /* padding-bottom: 0px; */
    }
    .mb-for-user-detail {
        margin-bottom: 3px;
    }

    .hover {
        background-color: black;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0);
        color: rgba(0, 0, 0, 0);
    }
    .hover:hover {
        background-color: rgba(0, 0, 0, 0);
        color: rgba(0, 0, 0, 0);
    }

    
} 