{% extends "base_generic.html" %}

{% block content %}
{% if user.is_private and user.pending_requests.count > 0%}
    <div class="row mb-3">
        <div class="col-12 col-md-6 m-auto">
            <section class="position-relative mb-1 section-search-page px-2 py-2" data-toggle="modal" data-target="#modalFollowRequests">
                <div>
                    <article class="d-inline my-auto ">
                        <img src="{{last_user_requested.prof_pic.url}}" class="post-pp img-fluid">
                    </article>
                    <article class="d-inline search-article">
                        <div>
                            <b class="username-search text-dark">Follow requests</b>
                        </div>
                        <small class="font-weight-light text-dark">{{last_user_requested.username}} {% if user_number_requests > 1 %}+ {{ user_number_requests|add:"-1" }} other{{ user_number_requests|add:"-1"|pluralize }} {% endif %}</small>
                    </article>
                </div>
            </section>
            <div class="modal fade" id="modalFollowRequests" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Follow Requests</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    {% for user_who_requested in user.pending_requests.all %} 
                        <section class="position-relative mb-1 section-search-page px-2 py-2">
                            <div>
                                <article class="d-inline my-auto ">
                                    <img src="{{user_who_requested.prof_pic.url}}" class="post-pp img-fluid">
                                </article>
                                <article class="d-inline search-article">
                                    <div>
                                        <b class="username-search text-dark">{{ user_who_requested.username }}</b>
                                    </div>
                                    <small class="font-weight-light text-dark">{{user_who_requested.first_name}} </small>
                                </article>
                                <article class="d-inline float-right">
                                    <form action="{% url 'accpet-or-delete-request' user_who_requested.pk %}" method="POST"
                                        class="d-inline ml-md-2">
                                        {% csrf_token %}
                                        <button type="submit" name="redirect_path" value="{% url 'profpage-user' %}" class="btn border btn-white bg-white" id="">Delete</button>
                                    </form>
                                </article>
                                <article class="d-inline float-right">
                                    <form action="{% url 'accpet-or-delete-request' user_who_requested.pk %}" method="POST"
                                        class="d-inline ml-md-2">
                                        {% csrf_token %}
                                        <button type="submit" name="accept_or_delete" value="accept" class="btn border btn-white text-white bg-primary" id="">Confirm</button>
                                    </form>
                                </article>
                            </div>
                        </section>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <hr>
{% endif %}
{% for user_followers in followers_list %}
    <div class="row mb-3">
        <div class="col-12 col-md-6 m-auto">
            <section>
                <article>
                    <table class="w-100">
                        <tr>
                            <td style="width: 40px;"><img class="post-pp img-fluid" src="{{user_followers.prof_pic.url}}"></td>
                            <td class="w-auto"><span><b><a class="text-dark text-decoration-none" href="{% url 'user-detail' user_followers.pk %}">{{user_followers.username}}</a></b> started following you.</span></td>
                            <!-- <td style="width: 40px;"><img class="w-h-32 img-fluid" src="{{post.picture.url}}"></td> -->
                        </tr>
                    </table>
                </article>
            </section>  
        </div>
    </div>
{% endfor %}
{% for post in post_list %}
    {% for user_liked in post.likes.all %}
        <div class="row mb-3">
            <!-- <p>Hi</p> -->
            <div class="col-12 col-md-6 m-auto">
              <section>
                  <article>
                    <table class="w-100">
                        <tr>
                            <td style="width: 40px;"><img class="post-pp img-fluid" src="{{user_liked.prof_pic.url}}"></td>
                            <td class="w-auto"><span><b><a class="text-dark text-decoration-none" href="{% url 'user-detail' user_liked.pk %}">{{user_liked.username}}</a></b> liked your post.</span></td>
                            <td style="width: 40px;"><img class="w-h-32 img-fluid" src="{{post.picture.url}}"></td>
                        </tr>
                    </table>
                </article>
              </section>  
            </div>
        </div>
    {% endfor %}
    {% for comment in post.postcomment_set.all %}
    <div class="row mb-3">
        <div class="col-12 col-md-6 m-auto">
            <section>
              <article>
                <table class="w-100">
                    <tr style="line-height: 1.1em;">
                        <td style="width: 40px;" class="pt-0"><img class="post-pp img-fluid" src="{{comment.author.prof_pic.url}}"></td>
                        <td class="w-auto"><span><b>{{comment.author.username}}</b> commented your post: {{comment.description}}. <span class="time-ago">{{comment.time_commented_ago}}</span></span></td>
                        <td style="width: 40px;"><img class="w-h-32 img-fluid" src="{{post.picture.url}}"></td>
                    </tr>
                </table>
            </article>
          </section>  
        </div>
    </div>
        <!-- </div> -->
    {% endfor %}
{% endfor %}
{% endblock %}
