{% extends "base_generic.html" %}

{% block content %}
<div class="row">
    <div class="col-4 col-md-3">
        <section>
            <article>
                <div class="img-user-detail">
                    <img class="border-50 media-on-profilpage" src="{{posts_ordered_by_likes.first.picture.url}}" alt="">
                </div>
            </article>
        </section>
    </div>
    <div class="col-8 col-md-8 ml-md-auto mt-0 mt-md-4">
        <section>
            <article>
                <div>
                    <h1 class="font-weight-light font-italic">{{hashtag.hashtag_name}}                 
                    </h1>
                    <article class="mt-2">
                        <ul class="pl-0 d-none d-md-block">
                            <li class="d-inline-block font-size-1point25em mr-5">
                                {% with num_posts_hashtag=hashtag.posts.count %}
                                    <b>{{num_posts_hashtag}}</b> Post{{num_posts_hashtag|pluralize}}
                                {% endwith %}
                            </li>
                        </ul>
                    </article> 
                    <article>
                        <form action="" method="POST" class="d-inline ml-md-2">
                            {% csrf_token %}
                            {% if user_is_followed %}                
                            	<button type="submit" name="redirect_path" value="" class="btn bg-white border" id="">Unfollow</button>
                            {% elif user in user_for_page.pending_requests.all %}
                            	<button type="submit" name="redirect_path" value="" class="btn bg-white border text-dark" id="">Requested</button>
                            {% else %}
                            	<button type="submit" name="redirect_path" value="" class="btn bg-primary border text-white w-100" id="">Follow</button>
                            {% endif %}
                        </form>
                    </article>
                </div>
            </article>
        </section>
    </div>
</div>

<div class="mt-5">
    <div class="row mt-0 mt-md-4 border-top-gray">
        <button class="border-0 bg-color-page ml-auto py-3 text-decoration-none text-muted mr-5 border-saved-or-posts" id="buttonTopPosts" onclick="seeTopPosts()">Top posts</button>
        <button class="border-0 bg-color-page mr-5 py-3 text-decoration-none text-muted mr-auto" id="buttonMostRecentPosts" onclick="seeMostRecentPosts()">Most recent</button>
    </div>
</div>

<div class="row mt-3" id="topPosts">
    {% for post in posts_ordered_by_likes %}
    <div class="col-4 p-15px mb-for-user-detail position-relative">
        <div class="img-user-detail">
            {% if post.is_image %} 
                <img class="media-on-profilpage" src="{{post.picture.url}}" alt="alt">
            {% else %}
                <video class="media-on-profilpage" controls> 
                    <source src="{{post.picture.url}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            {% endif %}
            <div onclick="location.href='{% url 'create-comment' post.pk %}';" class="hover h-100 w-100 mx-auto">
                <p class="px-3 center-comment-symbol d-none d-md-block" href="{% url 'create-comment' post.pk %}"><i
                        class="fa fa-15 fa-comment"></i> {{post.postcomment_set.count}}</p>
                <p class="px-3 center-heart-symbol" href="{% url 'create-comment' post.pk %}"><i
                        class="fa fa-15 fa-heart"></i> {{post.number_of_likes}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row mt-3 d-none" id="mostRecentPosts">
    {% for post in posts_ordered_by_time %}
    <div class="col-4 p-15px mb-for-user-detail position-relative">
        <div class="img-user-detail">
            {% if post.is_image %} 
                <img class="media-on-profilpage" src="{{post.picture.url}}" alt="alt">
            {% else %}
                <video class="media-on-profilpage" controls> 
                    <source src="{{post.picture.url}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            {% endif %}
            <div onclick="location.href='{% url 'create-comment' post.pk %}';" class="hover h-100 w-100 mx-auto">
                <p class="px-3 center-comment-symbol d-none d-md-block" href="{% url 'create-comment' post.pk %}"><i
                        class="fa fa-15 fa-comment"></i> {{post.postcomment_set.count}}</p>
                <p class="px-3 center-heart-symbol" href="{% url 'create-comment' post.pk %}"><i
                        class="fa fa-15 fa-heart"></i> {{post.number_of_likes}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
