{% extends "base_generic.html" %}

{% block content %}
{% for post in post_list %}
<div class="row mb-3 mb-3 mb-md-5">
    <div class="col-12 col-md-7 p-0 p-md-2">
        <section class="border-post">
            <section>
                <header class="px-3 p-075">
                    <article>
                        <img class="post-pp"  src="{{post.author.prof_pic.url}}" alt="alt">
                        <span class="ml-3 font-size-username">
                            <b>{{post.author.username}}</b>
                        </span>
                    </article>
                </header>
            </section>
            <section>
                <article>
                    <img class="w-100 h-auto"  src="{{post.picture.url}}" alt="alt">
                </article>
            </section>
            <section class="px-3">
                <article class="py-2">
                    <a class="" href=""><i class="fa fa-15 fa-heart text-danger"></i></a>
                    <a class="px-3" href="{% url 'create-comment' post.pk %}"><i class="fa fa-15 fa-comment fontawesome-border text-white"></i></a>
                </article>
            </section>
            <section class="px-3">
                <article>
                    <span class="font-size-username">
                        <b>{{post.author.username}}</b><span>&nbsp</span><span>{{post.caption}}</span>
                    </span>
                </article>
            </section>
            <section class="px-3">
                <article>
                    {% if post.postcomment_set.count > 1%}
                    <p class="mb-1 mt-1"><a class="comment-post text-decoration-none" href="{% url 'create-comment' post.pk %}">Show all {{post.postcomment_set.count}} comments</a></p>
                    {% endif %}
                    {% if post.postcomment_set.all %}
                    <span class="font-size-username">
                        {% with first_comment=post.postcomment_set.all|first %}
                        <b>{{first_comment.author.username}}</b>    
                        <span>&nbsp</span><span>{% for word in first_comment.description_to_array %}{% if "@" in word %} <a href="{% comment %} insert here link to user-detail page {% endcomment %}">{{word}}  </a> {% else %}{{word}} {% endif %}{% endfor %}</span>
                        {% endwith %}
                    </span>
                    {% endif %}

                </article>
            </section>
            <section class="px-3">
                <article class="">
                    <p class="time-ago">{{post.time_posted_ago}}</p>
                </article>
            </section>
        </section>

    </div>
     {% if forloop.first %}
    <div class="col-md-5 d-none d-md-block recommendations-fixed">
    <section class="vh-100">
        <article>
            <div class="py-4">
                {% for user in recommandation_list %}
                <div class="mb-3">
                    <a href=""><img class="post-pp" src="{{user.prof_pic.url}}"></a>
                    <!-- <img class="post-pp" src="{{user.prof_pic.url}}"> -->
                    <b><a class="text-dark" href="">{{user.username}}</a></b>
                </div>
                {% endfor %}
            </div>
        </article>
    </section>
    </div>
    {% endif %}
</div>
{% endfor %}
{% endblock %}
