{% extends "base_generic.html" %}

{% block content %}
<div class="row postition-relative border" id="row-create-comment">
    <div class="col-12 col-md-7 px-0">
        <section class="d-block d-md-none">
            <header class="px-3 p-075 border-comments">
                <article>
                    <a href="{% if user == post.author %} {% url 'profpage-user' %} {% else %} {% url 'user-detail' post.author.pk %} {% endif %}">                    
                        <img class="post-pp"  src="{{post.author.prof_pic.url}}" alt="alt">
                    </a>
                    <span class="ml-2 font-size-username">
                        <a href="{% if user == post.author %} {% url 'profpage-user' %} {% else %} {% url 'user-detail' post.author.pk %} {% endif %}">
                            <b class="text-dark">{{post.author.username}}</b>
                        </a>
                    </span>
                    <span class="float-right" data-toggle="modal" data-target="#modal-{{post.pk}}">
                        <i class="fa fa-circle font-size-05" aria-hidden=""></i><i class="fa fa-circle font-size-05 margin-015rem" aria-hidden="true"></i><i class="fa fa-circle font-size-05" aria-hidden="true"></i>  
                    </span>
                      <!-- Modal -->
                      <div class="modal fade" id="modal-{{post.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content modal-content-post-setting">
                            <div class="modal-body px-0">
                                <section class="px-3">
                                    {% url 'create-comment' post.pk as url_to_copy %}
                                    {% with full_url=request.META.HTTP_HOST|add:url_to_copy %}
                                    <article><p data-dismiss="modal" class="w-100 d-block text-dark text-decoration-none text-center cursor-pointer" onclick='copyToClipboard("{{full_url}}")'>Copy link</p></article>
                                    {% endwith %}
                                </section>
                                <hr>
                                <section class="px-3">
                                    <article><a data-dismiss="modal" class="w-100 d-block text-dark text-decoration-none text-center" href="">Abort</a></article>
                                </section>
                            </div>
                          </div>
                        </div>
                      </div>        
                </article>
            </header>
        </section>
        <section>                
            <article>
                <img class="w-100 h-auto"  src="{{post.picture.url}}" alt="alt">
                {% if post.tagged_people.exists %}
                <div class="tagged-people" data-toggle="modal" data-target="#modaltagged-{{post.pk}}"><i class="fa text-white fa-user tagged-people-icon"></i></div>
                <div class="modal fade" id="modaltagged-{{post.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">In this Post</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          {% for user in post.tagged_people.all %}
                            <a href="{% url 'user-detail' user.pk %}" class="">
                                <section class="position-relative mb-1 section-search-page px-2 py-2">
                                    <div>
                                        <article class="d-inline my-auto ">
                                            <img src="{{user.prof_pic.url}}" class="post-pp img-fluid">
                                        </article>
                                        <article class="d-inline search-article">
                                            <div>
                                                <b class="username-search text-dark">{{user.username}}</b>
                                            </div>
                                            <small class="font-weight-light text-dark">{{user.first_name}}</small>
                                        </article>
                                    </div>
                                </section>
                            </a>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
            
                {% endif %}
            </article>
        </section>
    </div>
    <div class="col-md-5 col-12 px-0 bg-white">
        <section class="d-none d-md-block">
            <header class="px-3 p-075 border-comments" id="header-create-comment">
                <article>
                    <a href="{% if user == post.author %} {% url 'profpage-user' %} {% else %} {% url 'user-detail' post.author.pk %} {% endif %}">                    
                        <img class="post-pp"  src="{{post.author.prof_pic.url}}" alt="alt">
                    </a>
                    <span class="ml-2 font-size-username">
                        <b><a class="text-dark" href="{% if user == post.author %} {% url 'profpage-user' %} {% else %} {% url 'user-detail' post.author.pk %} {% endif %}">{{post.author.username}}</a></b>
                    </span>
                    <span class="float-right" data-toggle="modal" data-target="#modal-{{post.pk}}-2">
                        <i class="fa fa-circle font-size-05" aria-hidden=""></i><i class="fa fa-circle font-size-05 margin-015rem" aria-hidden="true"></i><i class="fa fa-circle font-size-05" aria-hidden="true"></i>  
                    </span>
                      <!-- Modal -->
                      <div class="modal fade" id="modal-{{post.pk}}-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content modal-content-post-setting">
                            <div class="modal-body px-0">
                                <section class="px-3">
                                    {% url 'create-comment' post.pk as url_to_copy %}
                                    {% with full_url=request.META.HTTP_HOST|add:url_to_copy %}
                                    <article><p data-dismiss="modal" class="w-100 d-block text-dark text-decoration-none text-center cursor-pointer" onclick='copyToClipboard("{{full_url}}")'>Copy link</p></article>
                                    {% endwith %}
                                </section>
                                <hr>
                                <section class="px-3">
                                    <article><a data-dismiss="modal" class="w-100 d-block text-dark text-decoration-none text-center" href="">Abort</a></article>
                                </section>
                            </div>
                          </div>
                        </div>
                      </div>    
                </article>
            </header>
        </section>
        <section id="comment-section" class="d-none d-md-block w-100 border-add-comment position-absolute">
            <article class="overflow-comments">
                {% for comment in comment_list %}
                    <section class="px-3 pt-3 d-none d-md-block">
                        <article>
                            <table class="w-100">
                                <tr>
                                    <td style="width: 40px;"><a href="{% if user == post.author %} {% url 'profpage-user' %} {% else %} {% url 'user-detail' post.author.pk %} {% endif %}"><img class="post-pp"  src="{{comment.author.prof_pic.url}}" alt="alt"></a></td>
                                    <td class="w-auto"><span class="font-size-username  line-height-comments">
                                        <span class="font-size-username">
                                            {% load insta_extras %}
                                            <b><a class="text-dark" href="{% if comment.author == user %}  {% url 'profpage-user'  %} {% else %} {% url 'user-detail' comment.author.pk %} {% endif %}">{{comment.author.username}}</a></b><span>&nbsp</span><span>{% for word in comment.description_to_array %} {% if "@" in word %} <a href="{% get_tagged_user word user %}">{{word}}  </a> {% else %}{{word}} {% endif %}{% endfor %}</span><p class="time-ago mb-0">{{comment.time_commented_ago}}</p>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                            
                        </article>
                    </section>
                {% empty %}
                    <p class="p-3">No comments</p> 
                {% endfor %}
            
            </article>
        </section>
        <section>
            <article>
                <form action="{% url 'like-post' post.pk %}" method="POST">
                    {% csrf_token %}                
                    <button type="submit" name="post_id" value="{{post.pk}}" class="btn mt-2 bg-white" id="like-create-comment"><i class="fa fa-15 fa-heart{% if post_is_liked %} text-danger{% else %} text-white fontawesome-border{% endif %}"></i></button>
                </form>
            </article>
        </section>
        <section>
            <article>
                <form action="{% url 'save-post' post.pk %}" method="POST">
                    {% csrf_token %}                
                    <button type="submit" name="post_id" value="{{post.pk}}" class="btn bg-white" id="save-create-comment"><i class="fa fa-15 fa-bookmark{% if post_is_saved %} text-dark{% else %} text-white fontawesome-border{% endif %}"></i></button>
                </form>
            </article>
        </section>
        <section class="px-3 d-none d-md-block">
            <article>
                <form action="" method="post" class="">
                    {% csrf_token %}
                    <table class="table-form w-75">
                    {{ form.as_table }}
                    </table>
                    <input id="submit-comment" type="submit" class="btn text-info submit-comment" value="Submit" />
                </form>
            </article>
        </section>
        <section class="px-3 d-block d-md-none" id="id-for-inline-p">
            <article>
                <form action="" method="post" class="">
                    {% csrf_token %}
                        {{ form.as_p }}
                    <input type="submit" class="btn text-info w-25 bg-white" value="Submit" />
                </form>
            </article>
        </section>
    </div>
</div>
<hr class="my-5 d-none d-md-block">
<div class="mt-5">
    <section>
        <article>
            <div>
                <p>Other posts from <a class="text-dark" href="{% url 'user-detail' post.author.pk %}"><b>{{post.author.username}}</b></a></p>
            </div>
        </article>
    </section>
</div>
<div class="row">
{% for post in other_posts_of_author %}
    <div class="col-4 p-15px mb-for-user-detail position-relative">
        <div class="img-user-detail">
            <img src="{{post.picture.url}}" alt="">
            <div onclick="location.href='{% url 'create-comment' post.pk %}';" class="hover h-100 w-100 mx-auto">
                <p class="px-3 center-comment-symbol"
                    href="{% url 'create-comment' post.pk %}"><i class="fa fa-15 fa-comment"></i> {{post.postcomment_set.count}}</p>
                <p class="px-3 center-heart-symbol"
                    href="{% url 'create-comment' post.pk %}"><i class="fa fa-15 fa-heart"></i> {{post.number_of_likes}}</p>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}