{% extends "base_generic.html" %}

{% block content %}

<!-- display users that user follows -->
<!-- {% for userx in user_follows_list %}
    <p>{{userx.username}}</p>
{% endfor %} -->

<!-- display users that follow user -->
<!-- <h1>FOllowerd</h1>
{% for userx in user.followed_field.all %}
    <p>{{userx.username}}</p>
{% endfor %} -->
<div class="row">
    <div class="col-4 col-md-3 my-auto">
        <img class="img-profpic" src="{{user.prof_pic.url}}" alt="alt" id="img-profilpage">
    </div>
    <div class="col-8 col-md-6 header1">
        <article class="pt-3">
            <h1 class="font-weight-light">{{user.username}} <a class="btn border text-decoration-none opacity-07-active ml-md-3 d-none d-md-inline bg-white" href="{% url 'update-user' user.pk %}">Update profile</a></h1>
            <a class="btn border text-decoration-none opacity-07-active ml-md-3 d-block d-md-none bg-white" href="{% url 'update-user' user.pk %}">Update profile</a>
        </article>
        <article class="mt-3">
            <ul class="pl-0 d-none d-md-block">
                <li class="d-inline-block font-size-1point25em mr-5">
                    {% with num_blogs_user=user.post_set.count %}
                        <b>{{num_blogs_user}}</b> Post{{num_blogs_user|pluralize}}
                    {% endwith %}
                </li>
                <li class="d-inline-block mr-5">
                    <a type="button" class="font-size-1point25em" data-toggle="modal" data-target="#seeSubscribersModal">
                        <b>{{user.followed_field.count}}</b> Follower{{user.followed_field.count|pluralize}}
                    </a>
                    
                    <!-- Modal followers-->
                    <div class="modal fade" id="seeSubscribersModal" tabindex="-1" role="dialog" aria-labelledby="seeSubscribersModalTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content modal-content-subs">
                            <div class="modal-header p-2 black-border-top">
                              <h5 class="modal-title text-center" id="exampleModalLongTitle">Followers</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body modal-body-subs pt-0">
                                {% for user in user.followed_field.all %}
                                <section class="position-relative mb-1 section-search-page px-2 py-2">
                                    <div>
                                        <article class="d-inline my-auto">
                                            <a href="{% url 'user-detail' user.pk %}">
                                                <img src="{{user.prof_pic.url}}" class="post-pp img-fluid">
                                            </a>
                                                
                                        </article>
                                        <article class="d-inline search-article">
                                            <div>
                                                <a href="{% url 'user-detail' user.pk %}">
                                                    <b class="username-search text-dark">{{user.username}}</b>
                                                </a>
                                                
                                            </div>
                                            <small class="font-weight-light text-dark">{{user.first_name}}</small>
                                        </article>
                                    </div>
                                </section>
                                {% endfor %}

                            </div>
                          </div>
                        </div>
                      </div>

                </li>
                <li class="d-inline-block font-size-1point5em">
                    <a type="button" class="font-size-1point25em" data-toggle="modal" data-target="#seeFollowedPeopleModal">
                        <b>{{user_follows_list.count}}</b> Following{{user_follows_list.count|pluralize}}
                    </a>
                    <!-- Modal Following -->
                    <div class="modal fade" id="seeFollowedPeopleModal" tabindex="-1" role="dialog" aria-labelledby="seeSubscribersModalTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content modal-content-subs">
                            <div class="modal-header p-2 black-border-top">
                              <h5 class="modal-title text-center" id="exampleModalLongTitle">Following</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body modal-body-subs pt-0 ">
                                {% for user in user_follows_list %}
                                <section class="position-relative mb-1 section-search-page px-2 py-2">
                                    <div>
                                        <article class="d-inline my-auto">
                                            <a href="{% url 'user-detail' user.pk %}">
                                                <img src="{{user.prof_pic.url}}" class="post-pp img-fluid">
                                            </a>
                                                
                                        </article>
                                        <article class="d-inline search-article">
                                            <div>
                                                <a href="{% url 'user-detail' user.pk %}">
                                                    <b class="username-search text-dark">{{user.username}}</b>
                                                </a>
                                                
                                            </div>
                                            <small class="font-weight-light text-dark">{{user.first_name}}</small>
                                        </article>
                                        <article class="d-inline float-right">
                                            <form action="{% url 'follow-user-profpage' user.pk %}" method="POST" class="d-inline ml-md-2">
                                                {% csrf_token %}
                                                <button type="submit" name="user_id" value="{{user.pk}}" class="btn border btn-white bg-white" id="">Following</button>
                                            </form>
                                        </article>
                                    </div>
                                </section>
                                {% endfor %}

                            </div>
                          </div>
                        </div>
                      </div>
                </li>
            </ul>
        </article>
        <article class="d-none d-md-block"><p><div>
            <span>{{user.bio|linebreaks}}</span>
        </div></p></article>
    </div>
</div>
<div class="row d-md-none">
    <div class="col-12">
        <section>
            <article>
                <p><span>{{user.bio|linebreaks}}</span></p>
            </article>
        </section>
    </div>
</div>
<hr class="d-md-none mb-0">
<div class="row d-md-none">
    <div class="col-12">
        <section class="py-2">
            <article>
                <ul class="p-0 m-0">
                    <li class="d-inline-block">
                        <span classs="text-center">
                            <span class="d-block text-center"><b>{{user.post_set.count}}</b></span>
                            Posts{{user.post_set.count|pluralize}}
                        </span>
                    </li>
                    <li class="d-inline-block following-middle">
                        <span classs="text-center">
                            <span class="d-block text-center"><b>{{user.followed_field.count}}</b></span>
                            Followers{{user.followed_field.count|pluralize}}
                        </span>
                    </li>

                    <li class="d-inline-block following-right">
                        <span classs="text-center">
                            <span class="d-block text-center"><b>{{user_follows_list.count}}</b></span>
                            Following{{user_follows_list.count|pluralize}}
                        </span>
                    </li>
                </ul>
            </article>
        </section>
    </div>
</div>
<hr class="mt-0 mt-md-4 mb-5">
<div class="row">
    {% for post in user.post_set.all%}
    <div class="col-4 p-15px mb-for-user-detail position-relative">
        <div class="img-user-detail">
            <img src="{{post.picture.url}}" alt="">
            <div onclick="location.href='{% url 'create-comment' post.pk %}';" class="hover h-100 w-100 mx-auto">
                <p class="px-3 center-comment-symbol d-none d-md-block"
                    href="{% url 'create-comment' post.pk %}"><i class="fa fa-15 fa-comment"></i> {{post.postcomment_set.count}}</p>
                <p class="px-3 center-heart-symbol"
                    href="{% url 'create-comment' post.pk %}"><i class="fa fa-15 fa-heart"></i> {{post.number_of_likes}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
    
{% endblock %}