{% extends "base_generic.html" %}

{% block content %}
<div class="row">
    <div class="col-4 col-md-3">
        <section>
            <article>
                <div class="img-user-detail">
                    {% if has_and_show_story %} <a href="{% url 'stories-user' user_for_page.pk %}">{% endif %}
                        <img class="border-50 media-on-profilpage {% if has_and_show_story %}  rounded-gradiants{% endif %}" src="{{user_for_page.prof_pic.url}}" alt="">
                    </a>

                </div>
            </article>
        </section>
    </div>
    <div class="col-8 col-md-8 ml-md-auto mt-0 mt-md-4">
        <section>
            <article>
                <div>
                    <h2 class="font-weight-normal font-italic">{{user_for_page.username}}                 
                        <form action="{% url 'follow-user' user_for_page.pk %}" method="POST" class="d-inline ml-md-2">
                            {% csrf_token %}
                            {% if user_is_followed %}                
                            <button type="submit" name="redirect_path" value="{{ user_for_page.get_absolute_url }}" class="btn bg-white border" id="">Unfollow</button>
                            {% elif user in user_for_page.pending_requests.all %}
                            	<button type="submit" name="redirect_path" value="{{ user_for_page.get_absolute_url }}" class="btn bg-white border text-dark" id="">Requested</button>
                            {% else %}
                            	<button type="submit" name="redirect_path" value="{{ user_for_page.get_absolute_url }}" class="btn bg-primary border text-white" id="">Follow</button>
                            {% endif %}
                        </form>
                    </h2>
                    <article class="mt-3">
                        <ul class="pl-0 d-none d-md-block">
                            <li class="d-inline-block font-size-1point25em mr-5">
                                {% with num_blogs_user=user_for_page.post_set.count %}
                                    <b>{{num_blogs_user}}</b> Post{{num_blogs_user|pluralize}}
                                {% endwith %}
                            </li>
                            <li class="d-inline-block mr-5">
                                <a type="button" class="font-size-1point25em" data-toggle="modal" data-target="#seeSubscribersModal">
                                    <b>{{user_for_page.followed_field.count}}</b> Follower{{user_for_page.followed_field.count|pluralize}}
                                </a>
                                
                                {% if user_is_followed or not user_for_page.is_private %}
                                    <!-- Modal followers-->
                                    <div class="modal fade" id="seeSubscribersModal" tabindex="-1" role="dialog" aria-labelledby="seeSubscribersModalTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                          <div class="modal-content modal-content-subs">
                                            <div class="modal-header p-2 black-border-top">
                                              <h5 class="modal-title text-center" id="exampleModalLongTitle">Followers</h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <div class="modal-body modal-body-subs pt-0">
                                                {% for user_follower in user_for_page.followed_field.all %}
                                                <section class="position-relative mb-1 section-search-page px-2 py-2">
                                                    <div>
                                                        <article class="d-inline my-auto">
                                                            <a {% ifnotequal user.pk user_follower.pk %} href="{{ user_follower.get_absolute_url }}" {% else %}  href="{% url 'profpage-user' %}" {% endifnotequal %}>
                                                                <img src="{{user_follower.prof_pic.url}}" class="post-pp img-fluid">
                                                            </a>
                                                                
                                                        </article>
                                                        <article class="d-inline search-article">
                                                            <div>
                                                                <a {% ifnotequal user.pk user_follower.pk %} href="{{user_follower.get_absolute_url}}" {% else %}  href="{% url 'profpage-user' %}" {% endifnotequal %}>
                                                                    <b class="username-search text-dark">{{user_follower.username}}</b>
                                                                </a>
                                                                
                                                            </div>
                                                            <small class="font-weight-light text-dark">{{user_follower.first_name}}</small>
                                                        </article>
                                                        <article class="d-inline float-right">
                                                        <form action="{% url 'follow-user' user_follower.pk %}" method="POST" class="d-inline ml-md-2">
                                                            {% csrf_token %}
                                                            {% if  user_follower == user  %}
                                                            {% elif user_follower in user.followed.all %}
                                                            <button type="submit" name="redirect_path" value="{{ user_follower.get_absolute_url }}" class="btn border bg-white text-dark">Following</button>
                                                            {% else %}
                                                            <button type="submit" name="redirect_path" value="{{ user_follower.get_absolute_url }}" class="btn border bg-primary text-white">Follow</button>
                                                            {% endif %}
                                                        </form>
                                                        </article>
                                                    </div>
                                                </section>
                                                {% endfor %}
                
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                {% endif %}
                
                            </li>
                            <li class="d-inline-block font-size-1point5em">
                                <a type="button" class="font-size-1point25em" data-toggle="modal" data-target="#seeFollowedPeopleModal">
                                    <b>{{user_for_page.followed.count}}</b> Following{{user_for_page.followed.count|pluralize}}
                                </a>

                                {% if user_is_followed or not user_for_page.is_private %}
                                <!-- Modal Following -->
                                    <div class="modal fade" id="seeFollowedPeopleModal" tabindex="-1" role="dialog" aria-labelledby="seeSubscribersModalTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                          <div class="modal-content modal-content-subs">
                                            <div class="modal-header p-2 black-border-top">
                                              <h5 class="modal-title text-center" id="exampleModalLongTitle">Following</h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <div class="modal-body modal-body-subs pt-0 ">
                                                {% for user_following in user_for_page.followed.all %}
                                                <section class="position-relative mb-1 section-search-page px-2 py-2">
                                                    <div>
                                                        <article class="d-inline my-auto">
                                                            <a {% ifnotequal user.pk user_following.pk %} href="{{ user_following.get_absolute_url }}" {% else %}  href="{% url 'profpage-user' %}" {% endifnotequal %}>
                                                                <img src="{{user_following.prof_pic.url}}" class="post-pp img-fluid">
                                                            </a>
                                                                
                                                        </article>
                                                        <article class="d-inline search-article">
                                                            <div>
                                                                <a {% ifnotequal user.pk user_following.pk %} href="{{ user_following.get_absolute_url }}" {% else %}  href="{% url 'profpage-user' %}" {% endifnotequal %}>
                                                                    <b class="username-search text-dark">{{user_following.username}}</b>
                                                                </a>
                                                                
                                                            </div>
                                                            <small class="font-weight-light text-dark">{{user_following.first_name}}</small>
                                                        </article>
                                                        <article class="d-inline float-right">
                                                            <form action="{% url 'follow-user' user_following.pk %}" method="POST" class="d-inline ml-md-2">
                                                                {% csrf_token %}
                                                                {% if  user_following == user  %}
                                                                {% elif user_following in user.followed.all %}
                                                                <button type="submit" name="redirect_path" value="{{ user_following.get_absolute_url }}" class="btn border bg-white text-dark">Following</button>
                                                                {% else %}
                                                                <button type="submit" name="redirect_path" value="{{ user_following.get_absolute_url }}" class="btn border bg-primary text-white">Follow</button>
                                                                {% endif %}
                                                            </form>
                                                        </article>
                                                    </div>
                                                </section>
                                                {% endfor %}
                
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                {% endif %}
                            </li>
                        </ul>
                    </article> 
                </div>
                <section class="d-none d-md-block">
                    <article>
                        <p class="mb-1"><b>{{user_for_page.first_name}}</b></p>
                        <span>{% if user_for_page.bio %}{{user_for_page.bio|linebreaks}} {% endif %} </span>
                    </article>
                </section>
            </article>
        </section>
    </div>
</div>
<div class="row d-md-none">
    <div class="col-12">
        <section>
            <article>
                <p class="mb-1"><b>{{user_for_page.first_name}}</b></p>
                <span>{% if user_for_page.bio %}{{user_for_page.bio|linebreaks}} {% endif %} </span>
            </article>
        </section>
    </div>
</div>
<hr class="mt-4 d-md-none mb-0">
<div class="row d-md-none">
    <div class="col-12">
        <section class="py-2">
            <article>
                <ul class="p-0 m-0">
                    <li class="d-inline-block">
                        <span classs="text-center">
                            <span class="d-block text-center"><b>{{user_for_page.post_set.count}}</b></span>
                            Posts
                        </span>
                    </li>
                    <li class="d-inline-block following-middle">
                        <span classs="text-center" data-toggle="modal" data-target="#seeSubscribersModalMobile">
                            <span class="d-block text-center"><b>{{user_for_page.followed_field.count}}</b></span>
                            Follower
                        </span>
                        <div class="modal fade" id="seeSubscribersModalMobile" tabindex="-1" role="dialog"
                        aria-labelledby="seeSubscribersModalTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered fullscreen-modal-dialog" role="document">
                            <div class="modal-content fullscreen-modal-content">
                                <div class="modal-header p-2 black-border-top">
                                    <h5 class="modal-title text-center" id="exampleModalLongTitle">Followers</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body modal-body-subs pt-0">
                                    {% for user_in_list in user_for_page.followed_field.all %}
                                    <section class="position-relative mb-1 section-search-page px-2 py-2">
                                        <div>
                                            <article class="d-inline my-auto">
                                                <a href="{{ user_in_list.get_absolute_url }}">
                                                    <img src="{{user_in_list.prof_pic.url}}" class="post-pp img-fluid">
                                                </a>

                                            </article>
                                            <article class="d-inline search-article">
                                                <div>
                                                    <a href="{{ user_in_list.get_absolute_url }}">
                                                        <b class="username-search text-dark">{{user_in_list.username}}</b>
                                                    </a>

                                                </div>
                                                <small class="font-weight-light text-dark">{{user_in_list.first_name}}</small>
                                            </article>
                                            <article class="d-inline float-right">
                                                <form action="{% url 'follow-user' user_in_list.pk %}" method="POST" class="d-inline ml-md-2">
                                                    {% csrf_token %}
                                                    {% if  user_in_list == user  %}
                                                    {% elif user_in_list in user.followed.all %}
                                                    <button type="submit" name="redirect_path" value="{{ user_in_list.get_absolute_url }}" class="btn border bg-white text-dark">Following</button>
                                                    {% else %}
                                                    <button type="submit" name="redirect_path" value="{{ user_in_list.get_absolute_url }}" class="btn border bg-primary text-white">Follow</button>
                                                    {% endif %}
                                                </form>
                                        </article>

                                        </div>
                                    </section>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                    </li>

                    <li class="d-inline-block following-right">
                        <span classs="text-center" data-toggle="modal" data-target="#seeFollowedPeopleModalMobile">
                            <span class="d-block text-center"><b>{{user_for_page.followed.count}}</b></span>
                            Following
                        </span>
                        <div class="modal fade" id="seeFollowedPeopleModalMobile" tabindex="-1" role="dialog"
                        aria-labelledby="seeSubscribersModalTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered fullscreen-modal-dialog" role="document">
                            <div class="modal-content fullscreen-modal-content">
                                <div class="modal-header p-2 black-border-top">
                                    <h5 class="modal-title text-center" id="exampleModalLongTitle">Following</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body modal-body-subs pt-0 ">
                                    {% for user in user_for_page.followed.all %}
                                    <section class="position-relative mb-1 section-search-page px-2 py-2">
                                        <div>
                                            <article class="d-inline my-auto">
                                                <a href="{{ user.get_absolute_url }}">
                                                    <img src="{{user.prof_pic.url}}" class="post-pp img-fluid">
                                                </a>

                                            </article>
                                            <article class="d-inline search-article">
                                                <div>
                                                    <a href="{{ user.get_absolute_url }}">
                                                        <b class="username-search text-dark">{{user.username}}</b>
                                                    </a>

                                                </div>
                                                <small
                                                    class="font-weight-light text-dark">{{user.first_name}}</small>
                                            </article>
                                            <article class="d-inline float-right">
                                                <form action="{% url 'follow-user' user.pk %}"
                                                    method="POST" class="d-inline ml-md-2">
                                                    {% csrf_token %}
                                                    <button type="submit" name="redirect_path" value="{{ user_for_page.get_absolute_url }}" class="btn border btn-white bg-white" id="">Following</button>
                                                </form>
                                            </article>
                                        </div>
                                    </section>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </article>
        </section>
    </div>
</div>
<hr class="mt-0 mb-0 d-md-none">

{% if user_is_followed or not user_for_page.is_private %}
    <div class="d-none d-md-block">
        <div class="row mt-0 mt-md-4 mb-5 border-top-gray">
            <button class="border-0 bg-color-page ml-auto py-3 text-decoration-none text-muted mr-5 border-saved-or-posts"id="buttonSeePosts" onclick="seePosts()"><i class="fa fa-camera-retro mr-1"></i>Posts</button>
            <button class="border-0 bg-color-page mr-auto py-3 text-decoration-none text-muted" id="buttonSeeMarkedPosts" onclick="seeMarkedPosts()"><i class="fa fa-user mr-1"></i>Marked</button>

        </div>
    </div>

    <div class="row d-md-none border-bottom-gray mb-3">
        <button class="border-0 bg-color-page text-decoration-none ml-auto mr-5 py-2 text-white fontawesome-border-gray fontawesome-border-blue" id="buttonMobilePosts" onclick="seePosts()"><i class="fa fa-camera-retro fa-2x"></i></button>
        <button class="border-0 bg-color-page text-decoration-none mr-auto py-2 text-white fontawesome-border-gray" id="buttonMobileMarkedPosts" onclick="seeMarkedPosts()"><i class="fa fa-user fa-2x"></i></button>
    </div>


    <div class="row" id="seePosts">
        {% for post in user_for_page.post_set.all%}
        <div class="col-4 p-15px mb-for-user-detail position-relative">
            <div class="img-user-detail">
                {% if post.is_image %} 
                    <img class="media-on-profilpage" src="{{post.picture.url}}" alt="alt">
                {% else %}
                    <video class="media-on-profilpage" controls> 
                        <source src="{{post.picture.url}}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                {% endif %}
                <div onclick="location.href='{{ post.get_absolute_url }}';" class="hover h-100 w-100 mx-auto">
                    <p class="px-3 center-comment-symbol d-none d-md-block" href="{{ post.get_absolute_url }}"><i
                            class="fa fa-15 fa-comment"></i> {{post.postcomment_set.count}}</p>
                    <p class="px-3 center-heart-symbol" href="{{ post.get_absolute_url }}"><i
                            class="fa fa-15 fa-heart"></i> {{post.number_of_likes}}</p>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12 col-md-5 m-auto">
            <section class="">
                <article class="">
                    <div class="no-marked-posts-bookmark"><i class="fa fa-camera fa-3x fontawesome-border text-white"></i> </div>
                </article>
                <article class="mt-5 text-center">
                    <h3 class="font-weight-light">No posts available</h3>
                </article>
            </section>
        </div>
        {% endfor %}
    </div>

    <div class="row d-none" id="seeMarkedPosts">
        {% for post in user_is_marked_list %}
        <div class="col-4 p-15px mb-for-user-detail position-relative">
            <div class="img-user-detail">
                {% if post.is_image %} 
                    <img class="media-on-profilpage" src="{{post.picture.url}}" alt="alt">
                {% else %}
                    <video class="media-on-profilpage" controls> 
                        <source src="{{post.picture.url}}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                {% endif %}
                <div onclick="location.href='{{ post.get_absolute_url }}';" class="hover h-100 w-100 mx-auto">
                    <p class="px-3 center-comment-symbol d-none d-md-block" href="{{ post.get_absolute_url }}"><i
                            class="fa fa-15 fa-comment"></i> {{post.postcomment_set.count}}</p>
                    <p class="px-3 center-heart-symbol" href="{{ post.get_absolute_url }}"><i
                            class="fa fa-15 fa-heart"></i> {{post.number_of_likes}}</p>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12 col-md-5 m-auto">
            <section class="">
                <article class="">
                    <div class="no-marked-posts-bookmark"><i class="fa fa-camera fa-3x fontawesome-border text-white"></i> </div>
                </article>
                <article class="mt-5 text-center">
                    <h3 class="font-weight-light">No posts available</h3>
                </article>
            </section>
        </div>
        {% endfor %}
    </div>
{% else %}
<div class="row mt-5 border">
    <div class="col-12 bg-white m-auto">
        <div class="row">
            <div class="col-10 col-md-4 m-auto">
                <section class="p-5 text-center">
                    <article>
                        <span><b>This account is private</b></span>                
                        <p class="mt-3">Follow the account to see pictures and videos</p>
                    </article>
                </section>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
