{% extends "base_generic.html" %}

{% block content %}
<div class="row">
    <div class="col-4 col-md-3">
        <section>
            <article>
                <div class="img-user-detail">
                    <img class="border-50" src="{{user_for_page.prof_pic.url}}" alt=""></img>
                </div>
            </article>
        </section>
    </div>
    <div class="col-8 col-md-8 ml-md-auto mt-4">
        <section>
            <article>
                <div>
                    <h2 class="font-weight-normal font-italic">{{user_for_page.username}}</h2> 
                    {% with num_posts=user_for_page.post_set.all.count %}
                    <p class="d-none my-4 d-md-block"><b>{{num_posts}}</b> {% if num_posts == 1 %} Post {% else %} Posts{% endif %}</p>
                    {% endwith %}
                </div>
                <div>
                    <span>{{user_for_page.bio|linebreaks}}</span>
                </div>
            </article>
        </section>
    </div>
</div>
<hr class="mt-4 mt-md-5">
<div class="row d-md-none">
    <div class="col-4 col-md-4 m-auto">
        <section class="">
            <article>
                {% with num_posts=user_for_page.post_set.all.count %}
                <b class="mx-auto">{{num_posts}}</b><p>Posts</p>
                {% endwith %}
            </article>
        </section>
    </div>
</div>
<div class="row">
{% for post in user_for_page.post_set.all%}
    <div class="col-4 p-15px mb-for-user-detail position-relative">
        <div class="img-user-detail">
            <img src="{{post.picture.url}}" alt="">
            <div class="hover h-100 w-100 d-none d-md-block mx-auto">
                <p onclick="location.href='{% url 'create-comment' post.pk %}';" class="px-3 center-comment-symbol"
                    href="{% url 'create-comment' post.pk %}"><i class="fa fa-15 fa-comment"></i> {{post.postcomment_set.count}}</p>
            </div>
        </div>
    </div>
{% endfor %}

</div>

{% endblock %}